*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 187, 97);
    width: 100%;
    height: 100%;
}

#panel{
    overflow: hidden;
    width: 85%;
    height: 85%;
    border-radius: 10px;
    box-shadow: #0000008b 2px 2px 15px 15px;
    
}

#ptop{
    color: rgb(255, 238, 0);
    width: 100%;
    height: 100px;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content:space-around;
    align-items: center;


}

.box{
    color: black;
    padding: 8px 14px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 750;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;

}

#pbottom{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #fff;
    gap: 15px;
    color: #000;
    
}


.bubble:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #e67e22;


    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
 
}

.bubble {
 display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgba(33, 150, 52, 0.86);
    color: #fff;
    border-radius: 50%;
    z-index: 11;
  
  /* Initial state */
  transform: scale(0.5);
  opacity: 0;

  /* Transition properties */
  transition: transform 0.3s ease, opacity 0.3s ease;
}



#last_count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    color: rgb(255, 55, 55);
    justify-content: center;
    font-size: 400px;
    
    z-index: 10;
}

#play_again{
      padding: 15px 30px;
      font-size: 1.2em;
      border: none;
      border-radius: 10px;
      background-color: #1d3557;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      position: absolute;
      top: 65%;
      left: 44.5%;
      z-index: 19;

}
